<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль пользователя</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <div class="profile-container">
        <h1>Профиль пользователя</h1>
        <div class="profile-picture">
            <img src="profile-pic.jpg" alt="Профильное фото">
        </div>
        <div class="profile-info">
            <h2>Имя: {{.Name}}</h2>
            <p>Фамилия: {{.Surname}}</p>
            <p>Возраст: {{.Age}} лет</p>
            <p>Email: {{.Email}}</p>
            <p>Gender: {{.Gender}}</p>
        </div>
        <div class="profile-bio">
            <h3>О себе:</h3>
            <p>{{.Description}}</p>
        </div>
    </div>
</body>
</html>